h2{
    color : white;
}
.heading{
    display: flex;
    justify-content: space-between;
}

button{
    color:#34c94b;
    background-color: black;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
}