.hero{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
}
.heroHeading{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 3px;
}